pkgbase = synnet
	pkgdesc = SynapseOS AI Network Policy Daemon
	pkgver = 0.1.0
	pkgrel = 13
	install = synnet.install
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = meson
	makedepends = ninja
	depends = nftables
	depends = synapd
	optdepends = networkmanager: per-network trust — which connection is trusted
	optdepends = zenity: the question asked when a new network is joined
	backup = etc/synnet/trusted-ifaces
	backup = etc/synnet/open-ports
	backup = etc/synnet/trusted-networks
	source = synnet-0.1.0.tar.gz::https://github.com/velle999/synnet/releases/download/0.1.0-13/synnet-0.1.0.tar.gz
	source = synnet-0.1.0.tar.gz.sig::https://github.com/velle999/synnet/releases/download/0.1.0-13/synnet-0.1.0.tar.gz.sig
	validpgpkeys = 648B4C32942C79B20E8AC3F49CECEBCDF48037C1
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = synnet
