pkgbase = synnet
	pkgdesc = SynapseOS AI Network Policy Daemon
	pkgver = 0.1.0
	pkgrel = 12
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = meson
	makedepends = ninja
	depends = nftables
	depends = synapd
	backup = etc/synnet/trusted-ifaces
	backup = etc/synnet/open-ports
	source = synnet-0.1.0.tar.gz::https://github.com/velle999/synnet/releases/download/0.1.0-12/synnet-0.1.0.tar.gz
	sha256sums = SKIP

pkgname = synnet
